@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gradient-to-br from-apple-gray-50 to-white font-sans antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
